<app-navbar></app-navbar>

<header> <!--Cabecera///////////////////////////-->
       
    <!--Banner///////////////////////////-->
    <div id="Banner1" class="card mat-card">
      <img alt="baner principal" src="./assets/Banner1.png">
      <div class="btn-edit"><a href="#" class="btn-rigth"><i class="fa fa-pen" style="color: rgb(252, 252, 140);"></i></a></div>          

    </div>

    <div id="Title" class="card mat-card">
      <div>RGR Portfolio</div>
      <div class="btn-edit"><a href="#" class="btn-rigth"><i class="fa fa-pen" style="color: rgb(252, 252, 140);"></i></a></div>          
    </div>

    <div id="Imagin1" class="card mat-card">
      <img alt="image profile" src="./assets/RGR.jpg">
      <div class="btn-edit" aling="right"><a href="#" class="btn-rigth"><i class="fa fa-pen" style="color: rgb(252, 252, 140);"></i></a></div>                 
    </div>

  </header> <!--Fin Cabecera//////////////////////-->

