



<div id="ContGral" class="content"> <!--Contenedor General //////////////////////////////-->
  <app-header></app-header>

    <!--Inicio Contenido//////////////////////-->
    <div id="Encabezado" class="card mat-card" > 
      <h1>Este es mi porfolio, les presento la historia de mi vida y espero que les entusiasme porque para mí, es apasionante!!!</h1>
      <div class="btn-edit"><a href="#" class="btn-rigth"><i class="fa fa-pen" style="color: rgb(252, 252, 140);"></i></a></div>          
    </div>

    <div id="Curriculum" class="card mat-card">  
      <h2>Nací en el centro de la provincia de Buenos Aires, "Olavarría". Allí comencé a aprender el ofico de mi Padre "Electricista del Automotor", aunque en realidad mi viejo fue mucho más que eso, y aprendí de todo con él. En tanto mi madre "Maestra y Comerciante", se dedicó a mi educación, y algo más. A los 5 años ingresé al conservatorio de música hasta los 13, tuve mi grupo de música y algunas presentaciones públicas pero no pasó de ahí, aunque canto muy bien...   </h2>
      <div class="btn-edit"><a href="#" class="btn-rigth"><i class="fa fa-pen" style="color: rgb(252, 252, 140);"></i></a></div>          
    </div>


  </div> <!--Fin Contenedor General /////////////////////////////////////////////-->
