    <!--Fondo Animado///////////////-->
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>

    <div id="ContGral" class="content"> <!--Contenedor General //////////////////////////////-->

      <header> <!--Cabecera///////////////////////////-->
       
        <nav class="navbar bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" link href="https://argentinaprograma.inti.gob.ar">
              <img src="./assets/Logo_Arg_Prog.bmp" alt="Logo" width="85" height="50" class="d-inline-block align-text-top">
             <p>#Yo Programo</p>       
            </a>
          </div>

          <!--Botones Redes + Login///////////////////-->
          <div id="RedesIn" class="container">
            <a link href="https://es-la.facebook.com/" class="btn btn-primary">Face</a>
            <a link href="https://twitter.com/i/flow/login" class="btn btn-primary">Twiter</a> 
            <a href="#" class="btn btn-primary">Login</a> 
          </div>
          <div class="btn-edit"><a href="#" class="btn-rigth"><i class="fa fa-pen" style="color: rgb(252, 252, 140);"></i></a></div>          

        </nav>
        <!--Banner///////////////////////////-->
        <div id="Banner1" class="card mat-card">
          <img alt="baner principal" src="./assets/Banner1.png">
          <div class="btn-edit"><a href="#" class="btn-rigth"><i class="fa fa-pen" style="color: rgb(252, 252, 140);"></i></a></div>          

        </div>

        <div id="Title" class="card mat-card">
          <div>RGR Portfolio</div>
          <div class="btn-edit"><a href="#" class="btn-rigth"><i class="fa fa-pen" style="color: rgb(252, 252, 140);"></i></a></div>          
        </div>

        <div id="Imagin1" class="card mat-card">
          <img alt="image profile" src="./assets/RGR.jpg">
          <div class="btn-edit" align="right"><a href="#" class="btn-rigth"><i class="fa fa-pen" style="color: rgb(252, 252, 140);"></i></a></div>                 
        </div>

      </header> <!--Fin Cabecera//////////////////////-->

      <!--Inicio Contenido//////////////////////-->
      <div id="Encabezado" class="card mat-card" > 
        <h1>Este es mi porfolio, les presento la historia de mi vida y espero que les entusiasme porque para mí, es apasionante!!!</h1>
        <div class="btn-edit"><a href="#" class="btn-rigth"><i class="fa fa-pen" style="color: rgb(252, 252, 140);"></i></a></div>          
      </div>

      <div id="Curriculum" class="card mat-card">  
        <h2>Nací en el centro de la provincia de Buenos Aires, "Olavarría". Allí comencé a aprender el ofico de mi Padre "Electricista del Automotor", aunque en realidad mi viejo fue mucho más que eso, y aprendí de todo con él. En tanto mi madre "Maestra y Comerciante", se dedicó a mi educación, y algo más. A los 5 años ingresé al conservatorio de música hasta los 13, tuve mi grupo de música y algunas presentaciones públicas pero no pasó de ahí, aunque canto muy bien...   </h2>
        <div class="btn-edit"><a href="#" class="btn-rigth"><i class="fa fa-pen" style="color: rgb(252, 252, 140);"></i></a></div>          
      </div>


    </div> <!--Fin Contenedor General /////////////////////////////////////////////-->
      
           
        
