<nav class="navbar bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" link href="https://argentinaprograma.inti.gob.ar">
        <img src="./assets/img/Logo_Arg_Prog.bmp" alt="Logo" width="85" height="50" class="d-inline-block align-text-top">
       <p>#Yo Programo</p>       
      </a>
    </div>

    <!--Botones Redes + Login///////////////////-->
    <div id="RedesIn" class="container">
      <a link href="https://es-la.facebook.com/" class="btn btn-primary">Face</a>
      <a link href="https://twitter.com/i/flow/login" class="btn btn-primary">Twiter</a> 
      <a href="#" class="btn btn-primary">Login</a> 
    </div>
    <div class="btn-edit"><a href="#" class="btn-rigth"><i class="fa fa-pen" style="color: rgb(252, 252, 140);"></i></a></div>          

  </nav>

